<footer class="bg-gradient-to-br from-[#CC2761] via-[#6A539B] to-[#4D78BC] text-white">
  <section id="contact" class="container flex flex-col-reverse md:grid md:grid-cols-2 gap-10 md:gap-20">
	{% include "icons/triangle-blue.twig" with { class: "absolute top-20 right-0" } %}
	{% include "icons/two-triangles-violet.twig" with { class: "absolute top-1/2 left-1/2 -translate-x-2/3 -translate-y-1/2" } %}
	{% include "partial/image.twig" with { image: Image(options.footer_image).src, alt:options.footer_image.alt, class: "z-10" } %}
	<div class="block-content relative">
		<span class="supertitle">Ready to go?</span>
		<h2>Get in touch.</h2>
		{{ function('do_shortcode', '[gravityform id="1" title="false" description="false" ajax="true"]') }}
	</div>
  </section>
	<div class="container">
		<div class="flex flex-col-reverse md:grid md:grid-cols-3 pb-2 pt-5 md:py-10 border-t border-t-white">
			<div class="grid place-items-center text-sm block-content md:border-r md:border-r-white max-md:py-5 md:p-10 max-md:border-t max-md:border-t-white">
				{% include "icons/inplay-icon.twig" with { class: "w-16 md:w-32 h-16 md:h-32" } %}
				<div class="flex flex-col items-center text-center gap-2 text-sm">
					<span>Copyright © 2023</span>
					<span>InPlay Digital.</span>
					<span>All Rights Reserved.</span>
				</div>
			</div>
			<div class="block-content md:border-r md:border-r-white max-md:py-5 md:p-10 max-md:border-t max-md:border-t-white">
				{% for item in menu.get_items %}
					<a href="{{ item.link }}" class="font-black uppercase font-heading">{{ item.title }}</a>
				{% endfor %}
				<a href="/terms-and-conditions" class="font-heading">Terms & Conditions</a>
				<a href="/privacy-policy" class="font-heading">Privacy Policy</a>
			</div>
			<div class="block-content font-heading max-md:py-5 md:p-10">
				<span>Contact Us</span>
				<a href="tel:{{ options.phone }}" class="font-black">{{ options.phone }}</a>
				<a href="mailto:{{ options.email }}" class="font-black">{{ options.email }}</a>
				<div class="flex items-center gap-4">
					{% if options.facebook %}
						<a href="{{ options.facebook }}" target="_blank">{% include "icons/facebook.twig" with { class: "max-md:w-8 max-md:h-8" } %}</a>
					{% endif %}
					{% if options.instagram %}
						<a href="{{ options.instagram }}" target="_blank">{% include "icons/instagram.twig" with { class: "max-md:w-8 max-md:h-8" } %}</a>
					{% endif %}
					{% if options.linkedin %}
						<a href="{{ options.linkedin }}" target="_blank">{% include "icons/linkedin.twig" with { class: "max-md:w-8 max-md:h-8" } %}</a>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</footer>
