{% extends 'page.twig' %}

{% block content %}
	<section id="home" class="bg-gradient-to-br from-[#4D78BC] via-[#6A539B] to-[#CC2761]">
		<div class="container relative text-white grid gap-10 md:gap-20 max-md:gap-10 md:grid-cols-2 items-center h-full">
			{% include "icons/triangle-violet.twig" with { class: "absolute -top-3 -left-28 rotate-[25deg]" } %}
			{% include "icons/triangle-blue.twig" with { class: "absolute left-1/2 top-20 -translate-x-1/2" } %}
			{% include "icons/triangle-fucshia.twig" with { class: "absolute left-1/4 top-1/2 -translate-x-1/4" } %}
			<div data-animate-stagger class="block-content relative">
				{{ fields.banner.content }}
			</div>
			<div class="grid place-items-center relative">
				{% include "partial/image.twig" with { image: Image(fields.banner.image).src, alt:fields.banner.image.alt } %}
			</div>
		</div>
	</section>
	<section id="what-do-we-do" class="bg-offwhite">
		<div class="container relative w-small text-black flex flex-col-reverse gap-10 md:gap-32 md:grid md:grid-cols-2 items-center h-full">
			{% include "icons/triangle-violet.twig" with { class: "absolute -top-3 -right-10" } %}
			<div class="grid place-items-center relative">
				{% include "partial/image.twig" with { image: Image(fields.what_do_we_do.image).src, alt:fields.what_do_we_do.image.alt } %}
			</div>
			<div data-animate-stagger class="block-content relative">
				{{ fields.what_do_we_do.content }}
			</div>
		</div>
	</section>
	<section id="products" class="bg-gradient-to-br from-[#CC2761] via-[#6A539B] to-[#4D78BC]">
		<div class="container text-white flex flex-col gap-7 md:gap-14">
			<h3 data-animate-left class="play uppercase">
				<em>Next Level
					<span class="!font-normal">Social Range</span>
				</em>
			</h3>
			<div class="grid md:grid-cols-3 gap-5 lg:gap-10">
				{% for item in options.product_tiers %}
					<div data-animate class="relative block-content p-4 lg:p-8 border border-white rounded-3xl">
						<div class="block-content">
							<div class="flex items-center justify-between gap-6">
								<h3>{{ item.title }}</h3>
								{% if item.icon %}
									<img src="{{ item.icon.url }}" alt="{{ item.icon.alt }}">
								{% endif %}
							</div>
							<div class="block-content">
								{{ item.benefits }}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			{% if fields.products.content %}
				<div class="block-content">
					{{ fields.products.content }}
				</div>
			{% endif %}
			{% if fields.products.slider %}
				<div class="products-slider !w-[400px] mx-auto">
					<div class="swiper-wrapper">
						{% for item in fields.products.slider %}
							<div class="swiper-slide">
								{% include "partial/image.twig" with { image: Image(item.slide).src, alt:item.slide.alt, class: "aspect-1/1 object-cover object-center" } %}
							</div>
						{% endfor %}
					</div>
				</div>
			{% endif %}
		</div>
	</section>
	<section id="who-are-we" class="bg-offwhite">
		<div class="container relative w-small text-black flex flex-col gap-10 md:gap-32 md:grid md:grid-cols-2 items-center h-full">
			<div data-animate-stagger class="block-content relative">
				{{ fields.who_are_we.content }}
			</div>
			<div class="grid place-items-center relative">
				{% include "partial/image.twig" with { image: Image(fields.who_are_we.image).src, alt:fields.who_are_we.image.alt } %}
			</div>
		</div>
	</section>
{% endblock %}
