{% extends 'page.twig' %}

{% block content %}
	<section id="home" class="bg-gradient-to-br from-[#4D78BC] via-[#6A539B] to-[#CC2761]">
		<div class="container relative text-white grid gap-10 md:gap-20 max-md:gap-10 md:grid-cols-2 items-center h-full">
			{% include "icons/triangle-violet.twig" with { class: "absolute -top-3 -left-28 rotate-[25deg]" } %}
			{% include "icons/two-triangles-fucshia.twig" with { class: "absolute left-1/2 top-20 -translate-x-1/2" } %}
			<div data-animate-stagger class="block-content relative">
				{{ fields.banner.content }}
			</div>
			<div class="grid place-items-center relative">
				{% include "partial/image.twig" with { image: Image(fields.banner.image).src, alt:fields.banner.image.alt } %}
			</div>
		</div>
	</section>
	<section id="what-do-we-do" class="bg-offwhite">
		<div class="container relative text-black flex flex-col-reverse gap-10 md:gap-32 md:grid md:grid-cols-3 items-center h-full">
			{% include "icons/triangle-violet.twig" with { class: "absolute -top-3 -right-10" } %}
			<div class="md:col-span-1 grid place-items-center relative">
				{% include "partial/image.twig" with { image: Image(fields.what_do_we_do.image).src, alt:fields.what_do_we_do.image.alt } %}
			</div>
			<div data-animate-stagger class="md:col-span-2 block-content relative">
				{{ fields.what_do_we_do.content }}
			</div>
		</div>
	</section>
	<section id="products" class="bg-gradient-to-br from-[#CC2761] via-[#6A539B] to-[#4D78BC]">
		<div class="container relative text-white flex flex-col gap-10 md:gap-20">
			<h3 data-animate-left class="play uppercase">
				<em>Next Level
					<span class="!font-normal">Social Range</span>
				</em>
			</h3>
			<div class="products-grid relative flex flex-col gap-10 md:gap-20">
				{% include "icons/triangle-blue-filled.twig" with { class: "absolute -right-20 md:right-20 top-40" } %}
				{% for tier in options.product_tiers %}
					<div class="product-tier grid md:grid-cols-2 gap-10 md:gap-20">
						<div data-animate class="product-tier-content relative block-content p-4 lg:p-8 border border-white rounded-3xl">
							<div class="block-content">
								<h3>{{ tier.title }}</h3>
								<div class="block-content">
									{{ tier.benefits }}
								</div>
							</div>
						</div>
						<div class="products-slider sm:w-2/3 md:w-1/3 mx-auto h-fit my-auto">
							<div class="swiper-wrapper">
								{% for item in tier.gallery %}
									<div class="swiper-slide">
										{% include "partial/image.twig" with { image: Image(item).src, alt:item.alt, class: "aspect-1/1 object-cover object-center" } %}
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
			<div class="flex max-md:flex-col md:items-end justify-between gap-6">
				{% if fields.products.content %}
					<div class="block-content">
						{{ fields.products.content }}
					</div>
				{% endif %}
				{% if fields.products.brochure_link %}
					<a href="{{ fields.products.brochure_link }}" target="_blank" class="button-white">View our brochure</a>
				{% endif %}

			</div>
		</div>
	</section>
	<section id="who-are-we" class="bg-offwhite">
		<div class="container relative w-small text-black flex flex-col gap-10">
			<div class="block-content">
				{{ fields.who_are_we.content }}
			</div>
			{% for item in fields.who_are_we.team %}
				<div class="team-member flex mb-6 flex-col gap-10 md:gap-20 md:grid md:grid-cols-3 items-center h-full">
					<div data-animate-stagger class="team-member-content md:col-span-2 flex flex-col gap-3 relative">
						<h4 class="!font-black !font-heading">{{ item.title }}</h4>
						{{ item.content }}
					</div>
					<div class="team-member-image md:col-span-1 grid place-items-center relative">
						{% include "partial/image.twig" with { image: Image(item.image).src, alt:item.image.alt, class: "aspect-1/1 object-cover object-center" } %}
					</div>
				</div>
			{% endfor %}
		</div>
	</section>
{% endblock %}
